.heading {
  font-family: 'Quintessential', cursive;
  font-size: 40px;
  width: 100%;
  text-shadow: 2px 2px 2px #aaa;
}

.heading a {
  font-size: 100px;
}

ul {
  list-style-type: none;
  width: 100%;
  background-color: #D8BFD8;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  text-align: center;
  position: fixed;
  overflow: hidden;
}

li {
  display: inline;
  float: center;
}

li a {
  font-family: 'Courgette', serif;
  display: inline-block;
  color: #FFFAF0;
  text-decoration: none;
  padding: 15px 30px;
}

li a:hover {
  background-color: #8783D1;
}

.home-paragraph {
  font-size: 24px;
	padding-top: 80px;
	text-align: center;
  font-family: 'Quintessential', serif;
}

.services-list{
  font-size: 24px;
  font-family: 'Quintessential', serif;
}

.contact-us-background{
  padding: 50px;
}