.home-title {
  font-family: 'Quintessential', cursive;
  width: 100%;
  font-size: 100px;
  padding-top: 80px;
  text-shadow: 2px 2px 2px #aaa;
  text-align: center;
}

ul {
  list-style-type: none;
  width: 100%;
  background-color: #D8BFD8;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  text-align: center;
  position: fixed;
  overflow: hidden;
}

li {
  display: inline;
  float: center;
}

li a {
  font-family: 'Courgette', serif;
  display: inline-block;
  color: #FFFAF0;
  text-decoration: none;
  padding: 15px 30px;
}

li a:hover {
  background-color: #8783D1;
}

.home-background {
  background-color: #E6E6FA;
  padding: 50px 0;
}

.rating_img{
  padding: 30px;
  text-align: center;
}

.home-paragraph {
  font-size: 24px;
  text-align: center;
  font-family: 'Quintessential', serif;
}

.gallery-background {
  padding: 50px 30px;
  text-align: center;
}

.gallery-title{
  font-family: 'Quintessential', cursive;
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 2px #aaa;
  padding-bottom: 30px;
}

.demo_img {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
}

.services-background{
  background-color: #FFF0F5;
  padding: 50px 0;
}

.services-title{
  font-family: 'Quintessential', cursive;
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 2px #aaa;
  padding-bottom: 30px;
}

.services-list{
  vertical-align: middle;
  font-size: 24px;
  font-family: 'Quintessential', serif;
}

.services-list a{
  text-align: center
}

.contact-us-background{
  background-color: #FFE4E1;
  padding: 50px 0;
}

.contact-us-title{
  font-family: 'Quintessential', cursive;
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 2px #aaa;
  padding-bottom: 30px;
}