.home-title {
  font-family: 'Neuton', cursive;
  font-size: 100px;
  padding-top: 80px;
  text-shadow: 2px 2px 2px #aaa;
  text-align: center;
}

ul {
  list-style-type: none;
  background-color: #D8BFD8;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  position: center;
  overflow: hidden;
}

li {
  display: inline;
  float: center;
}

li a {
  font-family: 'Neuton', serif;
  display: inline-block;
  color: #FFFAF0;
  text-decoration: none;
  padding: 15px 30px;
}

li a:hover {
  background-color: #8783D1;
}

.welcome-background {
  background-color: #E6E6FA;
  padding: 50px 0;
}

.welcome-paragraph {
  font-size: 24px;
  text-align: center;
  font-family: 'Neuton', serif;
}

.resume-background {
  padding: 50px 30px;
  text-align: center;
}

.resume-title{
  font-family: 'Neuton', cursive;
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 2px #aaa;
  padding-bottom: 30px;
}

.contact-background{
  background-color: #FFE4E1;
  padding: 50px 0;
}

.contact-paragraph th {
  padding: 0 100px;
}

.contact-title{
  font-family: 'Neuton', cursive;
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 2px #aaa;
  padding-bottom: 30px;
}

/* smaller screen */
@media screen and (max-width : 730px) {

}

/* for mobile */
@media screen and (max-width : 480px)  {

}